

:root {

  --light-orange: #ffe3bc;
  --lavender: #cbb5ff;
  --teal: #cdf6f5;
  --pink: #ffc5de;
  --gray: #f2f2f2;
  --white: #ffffff;

}

html {

  height: 100%;
  margin: 0rem;
  font-size: 16px;

  background-size: cover;    
  
}

body {

  height: 100%;
  margin: 0rem;
  
}

header {

  background-color: whitesmoke;
  margin: 1rem;  
  padding: 1rem;
  box-shadow: inset 0rem 0rem 0.75rem #ccc;  
  width: calc(100% - 12.5rem);
  
}


#main-menu a {

  display: inline-block;
  width: auto;
  margin-right: 3rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: #444;

}


#main-menu a:hover {

  color: slateblue;
  
}


main {

  margin: 0rem;  
  padding: 0rem;
  box-shadow: inset 0rem 0rem 0.75rem #ccc;  
  min-width: 50rem;
  
}

section {

  height:40rem;

  padding: 1rem;

}


footer {

  background-color: whitesmoke;
  margin: 1rem;  
  padding: 1rem;
  box-shadow: inset 0rem 0rem 0.75rem #ccc;  
  width: max-content;
  min-width: 50rem;
   
}



h1 {

  border: 2px dashed #444;
  padding: 1rem;
  background: white;
  width: max-content;
  min-width:20rem;

}

p {

  max-width: 50rem;
  line-height: 2rem;

}


#language-menu {

  position: absolute;  
  top: 1rem;
  right: 1rem;
  border: 2px solid slateblue;  
  border-radius: 0px;  
  appearance: none;
  height: 4rem; 
  text-align: center;
}


label {

  display: inline-block;
  padding: 1rem 0rem 1rem 0rem;

}

/* For a sticky footer */

main {
 
  min-height: 100%;
  margin-bottom: 2rem;
  
}

footer {

  width: calc(100% - 4rem);
    
}


footer,
.push {
  height: 5rem;
}


/* Style classes */

.green-button  {

  background-color: white;
  margin: 1rem 0rem 1rem 0rem;
  padding: 1rem;
  border: 2px solid yellowgreen;
  border-radius: 0px;
  height: 4rem;
  
}

.green-button:hover {

  background-color: yellowgreen;
  color: white;
  cursor: pointer;
  font-weight: bold;
    
}


