nav a:nth-child(4) {

  border-bottom: 1px solid #444;

}

article {

  border: 2px dashed #444;
  padding: 1rem 2rem 1rem 1rem;
  margin-bottom: 1rem;
  background: white;
  width: max-content;

}

img {

  display: block;
  width: 40rem;

}

.green-paragraph {

  color: green;

}

#red-paragraph {

  color: red;

}
