nav a:nth-child(1) {

  border-bottom: 1px solid #444;

}

img {

  width: 40rem;

}

section {
  height:40rem;
  margin: 0rem;
  padding: 0rem;
}

#section-1 {
  background-color: var(--light-orange);

}

#section-2 {

  background-color: var(--lavender);

}

#section-3 {

  background-color: var(--light-orange);

}
