nav a:nth-child(3) {

  border-bottom: 1px solid #444;

}

section {
  width: 40rem;
}


h4 {

  background: #bbb;
  color: #2f2f2f;
  padding: 1rem;
  
}

form {

  width: 60rem;
  
}

fieldset {

  border: none;
  padding: 0rem 0rem 2rem 0rem;
  
}

fieldset > label {

  display: block;

}

fieldset > select {

  display: inline-block;
  margin: 2rem 0rem 0rem 0rem;
  padding: 1rem;
  border: 2px solid #f9a5b3;  
  border-radius: 0px;  
  appearance: none;
  
}

fieldset > input {

  display: inline-block;
  
}

fieldset > textarea {

  width: 100%;
  height: 10rem;  
  
}

#submit-button {


  width: 15rem;

  
}
