:root {
  --lightorange: #ffe3bc;
  --black: #1a1a1a;
  --lightpurple: #cbb5ff;
  --teal: #cdf6f5;
  --pink: #ffc5de;
  --gray: #f2f2f2;
  --white: #ffffff;
}


html {

  height: 100%;
  margin: 0rem;
  font-size: 16px;
}

body {

  height: 100%;
  margin: 0rem;
  background-color: var(--lightorange);  
  max-width:100rem;
  margin: 0 auto;
}

main {

  min-height:100vh;

}

header {

  display: flex;
  justify-content: space-between;
  padding:30px;

}

section {

  padding:30px;

}

a {
  text-decoration:none;
  color: var(--lightpurple);
}

#overallogo {

  position: relative;
  overflow: hidden;
  float: left;
  height: 50px;

}


#graphic-logo {
  width:95px;

}

#text-logo {

  width:255px;
  margin-top:10px;
}

#lang {
  position: absolute;
  right: 16px;
  margin-top: -20px;
}


nav {
  padding:20px;
}

nav a {
  display: inline-block;
  overflow: hidden;
  color: #FFE3BC;
  padding: 15px 19px;
  margin: 2px 2px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  background-color: #1A1A1A;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  cursor: pointer;
}

nav a:hover {
  background-color: #d4f1f0;
  text-align: center;
  color: #1A1A1A;
}

button {
  background:none;
  border:none;
}


footer {
  background-color: var(--lightpurple);

  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer > div {
  padding: 30px;
}

footer > p {
  margin-top: 20px;
}

.footer-left-column {
  position: relative;
  bottom: 13px;
}

.footer-left p {
  font-family: verdana;
  font-size: 18px;
  color: var(--black);
  font-weight: bold;
  position: relative;
  bottom: 14px;
}

.footer-right {
  text-align: right;
}

.footer-right p {
  font-family: verdana;
  font-weight: bold;
  font-size: 15px;
  color: var(--black);
  line-weight: 0.5;
}

.footer-right span {

  font-family: verdana;
  font-size: 18px;
  color: var(--lightpurple);
  background-color: var(--black);
  padding: 10px;
  border: 2px solid var(--black);
  border-radius: 15px;
  cursor: pointer;

}

#copyright {

  background-color: var(--black);

  /*! width: 100%; */
  padding:10px;
}

#copyright p {

  font-size: 20px;
  font-family: sans-serif;
  color: var(--lightpurple);
  text-align: center;


}



