body {

  background-color: var(--lightpurple);

}

article {

  background-color: var(--white);
  max-width: 60rem;
  margin: 0 auto;
  padding: 2rem;

}

article img {

  display:block;
  max-width:100%;
  max-height: 30rem;
}

article p {


}

article .information {


}


