{% load static i18n %}<!DOCTYPE html>

<html id="root" lang="en" >

  <head>

    <title> {% block title %} E2stem Site {% endblock title %} </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="E2STEM students">

    <link type="image/x-icon" rel="icon" href="{% static 'img/favicon.ico' %}">

    <script src="{% static 'js/src/jquery-3.6.0.slim.min.js' %}"></script>
  
    <link type="text/css" href="{% static 'css/base.css' %}" rel="stylesheet">

    <script src="{% static 'js/set-language.js' %}"></script>    

    <script>let language = '{{ language }}'; </script>

    {% block css %} {% endblock %}
    {% block js %} {% endblock %}
      
  </head>
  
  <body>
  
    <header>

      <div id="overalllogo">

        <a href="/">
          <img id="graphic-logo" src="{% static 'img/logoweb.png' %}" alt="logoweb"/>
        </a>
        <a href="/">
          <img id="text-logo" src="{% static 'img/webname.png' %}" alt="webname" />
        </a>

      </div>

      <div id="lang">

        <button class="language-button" value="kh">
          <img src="{% static 'img/khmer-flag.webp' %}" alt="Select English Language"/>
        </button>

        <button class="language-button" value="en">
          <img src="{% static 'img/english-flag.png' %}" alt="Select Khmer Language"/>
        </button>

      </div>

      <nav>

        <span class="en">

          <a href="/en/">Home</a>
          <a href="/menstruation/en/">Menstruation</a>  
          <a href="/sharing/en/">Sharing</a> 
          <a href="/survey/en/">Survey</a>         
          <a href="/about/en/">About Us</a>     

        </span>  

        <span class="kh">

          <a href="/kh/">ទំព័រដើម</a>
          <a href="/menstruation/kh/">មេរៀនវដ្ដរដូវ</a>  
          <a href="/sharing/kh/">អត្ថបទចែករំលែក</a> 
          <a href="/survey/kh/">ការស្ទង់មតិ</a>         
          <a href="/about/kh/">អំពី</a>  

        </span> 

      </nav>

    </header>
        
    <main> 
    
      {% block main %} {% endblock %}
      
      <div class="push"></div>
      
    </main>

    <footer>

      <div class="footer-left">

        <div class="footer-left-column">

          <a href="#">
            <img id="graphic-logo" src="{% static 'img/logoweb.png' %}" alt="logoweb" />
          </a>

          <a href="#">
            <img id="text-logo" src="{% static 'img/webname.png' %}" alt="webname"/>
          </a>

        </div>

        <p class="en">Created by volunteer technology tester and knowledge sharer to try on a technological and knowledgable project</p>
        <p class="kh">បង្កើតដោយក្រុមអ្នកស្ម័គ្រចិត្ត<br/>លើគម្រោងការសាកល្បងបច្ចេកវិទ្យា និងចែករំលែកចំណេះដឹងវដ្ដរដូវ</p>
      </div>

      <div class="footer-right">

        <span class="en">Contact us through</span>
        <span class="kh">ទំនាក់ទំនងពួកយើងតាម</span>
        <p>me.project@gmail.com</p>

        <span class="en">Wanna know more information and join us?</span>
        <span class="kh">តើអ្នកចង់ទទួលបានព័ត៌មាន និងចូលរួមជាមួយយើងដែរឬទេ?</span>
        <p> Subscribe us here!</p>

      </div>

    </footer>

    <div id="copyright">
      <p>@copyrightreserved</p>
    </div>         
 
  </body>
  
</html>







