{% extends "base.html" %}
{% load static %}

{% block title %} home | e2stem.site {% endblock %}
{% block description %} The home page of E2stem's site{% endblock %}

{% block css %}
    
  <link href="{% static 'css/home.css' %}" rel="stylesheet">
    
{% endblock %}

{% block js %}
    
  <script src="{% static 'js/change-background.js' %}"></script>    
    
{% endblock %}

{% block main %}

<!-- 

<section id="home">  

  <h1>
    <span class="en">Welcome</span>  
    <span class="kh">ជំរាបសួរ</span> 
  </h1>
  
  <p>
    <span class="en">This is a basic example of a web site.</span>  
    <span class="kh">...Khmer...</span>  
  </p>

  <p>
    <span class="en">It has only two pages that share most of their CSS styles. This page loads a single Javascript function which is triggered by the button below:</span>  
    <span class="kh">...more Khmer...</span>  
  </p>

  <img src="{% static 'img/main/middle-text-graphic.png' %}"></img>
    
  <button class="green-button" id="bg-button" type="button" onclick="changeBackground();">Change Background</button>  
 
</section> 

 
<section id="home-1">  

</section> 

<section id="home-2">  

  <img src="{% static 'img/main/middle-text-graphic.png' %}"/>

</section> 

<section id="home-3">  
  
  <p>Hi there!</p>

</section> 

-->   




  <section id="slideshow" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-indicators">

      <button type="button" data-bs-target="#1" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#1" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#1" data-bs-slide-to="2"></button>

    </div>

    <div class="carousel-inner">

        <div class="carousel-item active">
            <img src="{% static 'img/slide-1.png' %}" alt="slide1" class="d-block w-100" width="90%" height="500px">
        </div>

        <div class="carousel-item">
            <img src="{% static 'img/slide-2.png' %}" alt="slide2" class="d-block w-100" width="90%" height="500px">
        </div>

        <div class="carousel-item">
           <img src="{% static 'img/slide-3.png' %}" alt="slide3" class="d-block w-100" width="90%" height="500px">
        </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#slideshow" data-bs-slide="prev">

      <span class="carousel-control-prev-icon"></span>

    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#slideshow" data-bs-slide="next">

      <span class="carousel-control-next-icon"></span>

    </button>

  </section>


  <section class="section2">
  
    <img src="{% static 'img/middle-text-graphic.png' %}" alt="Textual Graphic"></img>
    <button>
      <a class="en">Click here to view the lesson</a>
      <a class="kh">ចុចមើលមេរៀននៅទីនេះ</a>
    </button>

  </section>

  <section class="section3">
   
    <div>

      <p class="en">We want to give the opportunities to student or teenager to be able to experience charity work, <br> interning, and creating positive influences in society. <br>We believe in teamwork, motivation with us altogether.</p>
      <p class="kh">យើងចង់ផ្ដល់ឳកាសដល់សិស្សានុសិស្ស ឬយុវជន ក្នុងការទទួលបានបទពិសោធន៍ការងារសង្គម <br> វឹកហាត់នូវការងារស្ដែង ព្រមទាំងចូលរួមចំណែកបង្កើតលទ្ធផលវិជ្ជមានក្នុងសង្គម ។ <br>ពួកយើងជឿលើការសហការ ការលើកទឹកចិត្តជាមួយការចូលរួមរបស់យើងទាំងអស់គ្នា ។ </p>

    </div>

    <div class="kk">

      <a class="en">Explore who we are </a>
      <a class="kh">ស្វែងយល់ពីពួកយើង</a>

    </div>

  </section>




{% endblock %}


