{% extends "base.html" %}
{% load static %}

{% block title %} test  {% endblock %}
{% block description %} ... {% endblock %}

{% block css %}
    
  <link href="{% static 'css/sharing.css' %}" rel="stylesheet">
    
{% endblock %} 

{% block js %} {% endblock %}

{% block main %}          
 
<section id="sharing-information">     

  <img id="sharing-board" src="{% static 'img/sharing-board.png' %}" alt="Textual Graphic"></img>
  <!--
  <video id="sharing-board" src="{% static 'img/sharing-board.png' %}" alt="Textual Graphic"></video>
  -->
</section>   

<section id="articles">  

  <h3 class="kh">សូមចុចអានអត្តបទនៅខាងក្រោមនេះ</h3>
  <h3 class="en">Please click one of the articles below</h3>

  <div id="article-wrapper">

    <div class="card">
      <img src="{% static 'img/article-image-1.png' %}" alt=""></img>
      <span class="author"> Chhorn Sopheara | ឆន សុភារ៉ា </span>
      <span class="date"> 28.02.2022 </span>
      <span class="time"> 1 min ago</span>
      <p class="title">តើអ្នកធ្លាប់ដូចខ្ញុំដែរឬទេ?</p>
      <p class="description">នេះជាការចែករំលែកពីបទពិសោធន៍ពិតមួយដែលតែងតែកើតឡើងទៅលើ
សិស្សសាលាមួយចំនួន យើងសង្ឈឹមថាវាអាចជួយក្រែងរំឭកដល់យើងទាំង
អស់ចូលរួមបំបាត់ការបៀតបៀនគ្រប់ទំរង់ទាំងអស់។ </p>
    </div>   


    <div class="card">
      <img src="{% static 'img/article-image-2.png' %}" alt=""></img>
      <span class="author"> Chhorn Sopheara | ឆន សុភារ៉ា </span>
      <span class="date"> 28.02.2022 </span>
      <span class="time"> 1 min ago</span>
      <p class="title">តើអ្នកធ្លាប់ដូចខ្ញុំដែរឬទេ?</p>
      <p class="description">នេះជាការចែករំលែកពីបទពិសោធន៍ពិតមួយដែលតែងតែកើតឡើងទៅលើ
សិស្សសាលាមួយចំនួន យើងសង្ឈឹមថាវាអាចជួយក្រែងរំឭកដល់យើងទាំង
អស់ចូលរួមបំបាត់ការបៀតបៀនគ្រប់ទំរង់ទាំងអស់។ </p>
    </div>   


    <div class="card">
      <img src="{% static 'img/.png' %}" alt=""></img>
      <span class="author"> Chhorn Sopheara | ឆន សុភារ៉ា </span>
      <span class="date"> 28.02.2022 </span>
      <span class="time"> 1 min ago</span>
      <p class="title">តើអ្នកធ្លាប់ដូចខ្ញុំដែរឬទេ?</p>
      <p class="description">នេះជាការចែករំលែកពីបទពិសោធន៍ពិតមួយដែលតែងតែកើតឡើងទៅលើ
សិស្សសាលាមួយចំនួន យើងសង្ឈឹមថាវាអាចជួយក្រែងរំឭកដល់យើងទាំង
អស់ចូលរួមបំបាត់ការបៀតបៀនគ្រប់ទំរង់ទាំងអស់។ </p>
    </div>   


    <div class="card">
      <img src="{% static 'img/.png' %}" alt=""></img>
      <span class="author"> Chhorn Sopheara | ឆន សុភារ៉ា </span>
      <span class="date"> 28.02.2022 </span>
      <span class="time"> 1 min ago</span>
      <p class="title">តើអ្នកធ្លាប់ដូចខ្ញុំដែរឬទេ?</p>
      <p class="description">នេះជាការចែករំលែកពីបទពិសោធន៍ពិតមួយដែលតែងតែកើតឡើងទៅលើ
សិស្សសាលាមួយចំនួន យើងសង្ឈឹមថាវាអាចជួយក្រែងរំឭកដល់យើងទាំង
អស់ចូលរួមបំបាត់ការបៀតបៀនគ្រប់ទំរង់ទាំងអស់។ </p>
    </div>   



  </div>   

</section>     

{% endblock %}


