{% extends "base.html" %}
{% load static %}

{% block title %} Sharing  {% endblock %}
{% block description %} ... {% endblock %}

{% block css %}
    
  <link href="{% static 'css/sharing.css' %}" rel="stylesheet">
    
{% endblock %} 

{% block js %} {% endblock %}

{% block main %}          
 
<section id="sharing-information">     

  <img id="sharing-board" src="{% static 'img/sharing-board.png' %}" alt="Textual Graphic"></img>

  <!--
  <video id="sharing-board" src="{% static 'img/sharing-board.png' %}" alt="Textual Graphic"></video>
  -->

</section>   

<section id="articles">  

  <h3 class="kh">សូមចុចអានអត្តបទនៅខាងក្រោមនេះ</h3>
  <h3 class="en">Please click one of the articles below</h3>

  <div id="article-wrapper">

    {% for article in articles %}    

    <div class="card ">

      {% with 'img/'|add:article.image as image_static %}
        <img src="{% static image_static %}" alt=""/>        
      {% endwith %}

      <span class="author"> {{ article.author }} </span>
      <span class="date"> {{ article.created_at }} </span>
      <span class="time"> {{ article.created_at|timesince }} </span>

      <span class="en"> 

        <h3 class="title"> {{ article.title_en | safe }}</h3>
        <p class="description"> {{ article.description_en | safe }} </p>
        <a href="/post/{{ article.pk }}/en/"> READ MORE </a>

      </span>

      <span class="kh"> 

        <h3 class="title"> {{ article.title_kh | safe }}</h3>
        <p class="description"> {{ article.description_kh | safe }} </p>
        <a href="/post/{{ article.pk }}/kh/"> READ MORE </a>

      </span>



    </div> 

    {% endfor %} 

  </div>   

</section>     

{% endblock %}


